{{#if messages}}
  <div class="string">
    <p class="author center">АВТОР</p>
    <p class="message center">СООБЩЕНИЕ</p>
  </div>
  <div class="message-list">
    {{#each messages}}
      <div class="string">
        <div class="author padding">{{this.author}}</div>
        <div class="message padding">{{this.text}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}
